<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide width[150]>
      <img src="https://i.pinimg.com/originals/43/27/de/4327dee02b3786b4799e38a3a61dfda6.jpg">
  </ng-template>  
  <ng-template carouselSlide width[150]>
      <img src="https://medias.fashionnetwork.com/image/upload/v1/medias/93f7e6a68bd1dbfd8c8a07dd38e41c3b3026304.jpg">
  </ng-template>  
  <ng-template carouselSlide width[150]>
      <img src="https://cdn0.weddingwire.in/articles/images/1/8/4/3/img_73481/heavy-jewellery-sabyasachi-heritage-jewellery.jpg">
  </ng-template>  
  <ng-template carouselSlide width[150]>
    <img src="https://i.pinimg.com/736x/76/8a/bd/768abd48efc33e4e35869fd52cd87fc4.jpg">
   </ng-template>  
   
</owl-carousel-o>
